<footer class="usa-footer usa-footer-slim" role="contentinfo">
  <div class="usa-grid usa-footer-return-to-top">
    <a href="javascript:void(0);">Return to top</a>
  </div>
  <div class="usa-footer-primary-section">
    <div class="usa-grid">
      <nav class="usa-footer-nav usa-width-three-fourths">
        <ul class="usa-unstyled-list">
          {% for item in site.data.footer %}
            {% assign current = '' %}
            {% if page.url == item.url %}
              {% assign current = 'usa-current' %}
            {% endif %}
            <li class="usa-width-one-fourth usa-footer-primary-content">
              {% if item.url %}
              <a class="{{ current }} usa-footer-primary-link" href="{{ site.baseurl }}{{ item.url }}">{{ item.text }} »</a>
              {%else%}
              <strong>{{ item.text }}</strong>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>
      <div id="site-meta" class="usa-width-one-whole">
        <p>Feedback? <a href="https://github.com/{{ site.org_name }}/{{ site.repo_name }}/issues">Create an issue on GitHub</a> or email us at <a href="mailto:tmf@gsa.gov" title="Send an email to tmf@gsa.gov">tmf@gsa.gov</a>.</p>
        <p class="git"><a class="button button-edit hidden" href="https://github.com/{{ site.org_name }}/{{ site.repo_name }}/edit/{{ site.branch }}/{{ page.path }}">Edit this page</a> <a href="https://github.com/{{ site.org_name }}/{{ site.repo_name }}">View this site's code on GitHub »</a></p>
      </div>
    </div>
  </div>
</footer>

<script src="{{ site.baseurl }}/assets/js/jquery-3.3.1.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/uswds.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/custom.js"></script>
