<section aria-label="Search component">
  <form class="usa-search " role="search" action="https://search.cio.gov/search" accept-charset="UTF-8" method="get">
    <label class="usa-sr-only" for="search-field">Search</label>
    <div role="search">
      <input name="utf8" type="hidden" value="&#x2713;" />
      <input name="affiliate" type="hidden" value="tmf-prod" />
      <input class="usa-input usagov-search-autocomplete" id="extended-search-field-small" type="search" name="query" autocomplete="off">
    </div>
    <button class="usa-button" type="submit">
      <span class="usa-search__submit-text">Search</span>
    </button>
  </form>
</section>
