

// Controls the height and color of the navbar
.usa-header{
  background: #3D3B6E;
  border-bottom: 3px solid #F5A623;

  .usa-navbar{
    border: none;
    height: auto;

    .usa-logo{
      margin: 0;
      float: none;

      .eagle-box{
        margin: 0 0 0 25px;
        height: 100px;
        width: 130px;
        // background: pink;
        .gold-arrow{
          width: 130px;
          display: block;
          position: relative;
          z-index: 999;
          top:0px;
          left: 0;
        }
      }

      .title{
        margin-top: 0;
        margin-left: 25px;
        margin-bottom: 15px;
        padding: 10px 0;
        h1{
          font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
          font-size: 3rem;
          a{
            color:#fff;
          }
        }
        h2{
          margin:5px 0 0 0;
          font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
          color:#fff;
          font-size: 1.7rem;
          font-weight: 400;
        }
      }
    }


    .contribute{
      margin: 0;
      float: right;
      top: 40px;
      position: relative;
      display: none;
    }
  }
}



@media screen and (min-width: 575px) {
  .usa-header{
    .usa-navbar{
      .usa-logo{
        .eagle-box{
          width: 150px;
          .gold-arrow{
            width: 150px;
            left: 0;
          }
        }
        .title{
          // float: left;
          padding: 25px 0;
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .usa-header{
    .usa-navbar{
      .usa-logo{
        .eagle-box{
          margin: 0;
          float: left;
        }
        .title{
          float: left;
        }
      }
    }
  }
}
@media screen and (min-width: 992px) {
  .usa-header{
    .usa-navbar{
      .usa-logo{
        .eagle-box{
          width: 225px;
          .gold-arrow{
            width: 200px;
            left: 12px;
          }
          margin: 0;
          float: left;
        }
        .title{
          margin-bottom: 0;
          float: left;
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) {
}



// .usa-logo {
//   width:80%;
//   h1{
//     margin-top: 1rem;
//     font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
//     font-size: 2.2rem;
//     a{
//       color:#fff;
//     }
//     .emoji{
//       margin-left: 8px;
//       position: relative;
//       width: 24px;
//       height: 24px;
//       top:6px;
//     }
//     .gsa{
//       margin-right: 15px;
//       width: 40px;
//       display: block;
//       float: left;
//       position: relative;
//       top:6px;
//     }
//   }
// }
// @media screen and (min-width: 600px) {
//   .usa-logo {
//     h1{
//       margin-top: 2.5rem;
//       font-size: 2.2rem;
//       .emoji{
//         width: 28px;
//         height: 28px;
//         top:8px;
//       }
//       .gsa{
//         width: 40px;
//         top:-6px;
//       }
//     }
//   }
// }
// @media screen and (min-width: 951px) {
//   .usa-header-extended .usa-logo {
//     margin: 0;
//     margin-top: 2.8rem;
//
//     h1{
//       margin-top: 0;
//       font-size: 3rem;
//       .emoji{
//         width: 32px;
//         height: 32px;
//         top:6px;
//       }
//       .gsa{
//         width: 50px;
//         top:-6px;
//       }
//     }
//   }
// }
// @media screen and (min-width: 1201px) {
//   .usa-logo {
//     h1{
//       margin-top: 0;
//       .gsa{
//         top:-8px;
//       }
//     }
//   }
// }
