.project-details{
  margin-left: 15px;
  margin-bottom: 15px;
  width: 300px;
  padding: 20px 20px 25px 20px;
  background: #FFF4E2;
  float: right;
  font-size: 16px;
  border-top: #CE8000 3px solid;
  p{
    margin: 0 0 5px 0;
  }
}
