<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
<body>
  <a class="usa-skipnav" href="#main-content">Skip to main content</a>

  {% include header.html %}

  <main class="usa-grid usa-section usa-content usa-layout-docs" id="main-content">

    {{ content }}

  </main>

  {% include footer.html %}
<script>
//<![CDATA[
      var usasearch_config = { siteHandle:"tmf-search-branch" };

      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "//search.usa.gov/javascripts/remote.loader.js";
      document.getElementsByTagName("head")[0].appendChild(script);

//]]>
</script>
</body>
</html>
